/* Header Background, Background Image */
.header-pg{
  background: url("./images/image26.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 5%;

}
/* Navigation Links, Styling for navigation links */
.navList {
  font-weight: 500;
  font-size: 16px;
  color: rgb(7, 160,148);
}
.navA {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: rgb(7, 160,148);
}
/*This style to underline links when they hovered*/
.navA:after {
  position: absolute;
  content: "";
  background-color: #41cdc1;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navA:hover:after {
  width: 100%;
}
.navA:hover{
  color: #41cdc1;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:rgba(190, 207, 255, 0.41);
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 998;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}

.text-box{
  position: absolute;
  top: 40%;
  left: 10%;
}
.text-box h1{
  text-transform: uppercase;
  letter-spacing: normal;
  font-size: 4rem;
  font-weight: 800 bold;
  text-size-adjust: 100%;
  margin-block-end: 16px;
  margin-block-start: 0px;
  line-height: 1.4;
  color: white;
  display: inline;
}
.text-box strong{
  background-color: #07a094;
}


.read-more-btn {
  display: inline-block;
  text-decoration: none;
  color: #07a094;
  border: 1.5px solid #07a094;
  border-radius: 20px;
  padding: 12px 34px;
  font-size: 15px;
  font-weight: 400 bold;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.read-more-btn:hover{
  background-color: rgb(226,81,91);
  border-color: rgb(226,81,91);
  color: white;
}
.read-more-btn-secondary{
  display: inline-block;
  text-decoration: none;
  color: #07a094;
  border: 2px solid #07a094;
  border-radius: 25px;
  padding: 12px 34px;
  font-size: 20px;
  font-weight: 500 bold;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.read-more-btn-secondary:hover{
  background-color: rgb(226,81,91);
  border-color: rgb(226,81,91);
  color: white;
}


.left {
  margin-left: 3%;
  flex: 2;
}
.middle {
  flex: 5;
}
.right {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}
.logo {
  width: 100%;
  cursor: pointer;
  min-width: 200px;
}

.navLinks{
  display: inline-block;
  display: flex;
  justify-content: space-between;
  padding: 10px;

}


.donate {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: rgb(226,81,91);
  border-color: rgb(226,81,91);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-width: 1px;
  border-radius: 25px;
  border-style: solid;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s,    color 0.3s;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.donate:hover {
  color: #07a094;
  background-color: rgb(223, 255, 253);
  border-color: rgb(7, 160,148);
}
.donate:active {
  opacity: 0.7;
}
/*foot bar*/
.downBar {
  background-color: white;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
  padding-top: 50px;
}

.logoDown {
  width: 100%;
}
.sMediaLogo {
  width: 30px;
}
.navListBottom, .navABottom {
  font-weight: 500;
  font-size: 14px;
  color: rgb(7, 160,148);
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color:rgba(255, 255, 255, 0.373);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(e, 0, 0, 0.1);
  display: none;
  flex-direction: column;

}

.sidebarA {
  color: #07a094;
  position: relative;
}
.sidebarLi{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarA:after {
  position: absolute;
  content: "";
  background-color: #41cdc1;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sidebarA:hover:after {
  width: 100%;
}
.sidebarA:hover{
  color: #41cdc1;
}

.menu-button{
  display: none;
}

@media (max-width: 1099px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .projects-col .content{
    flex-direction: column;
  }
}
@media (max-width: 600px){
  .sidebar{
    width: 100%;
  }
}
/*Background Icon is used to make it attractive*/
.intro{
  background: url(./icons/background-icon-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 35%;
  background-position: 20%;
  width: 80%;
  margin: auto;
  align-items: center;
  padding-top: 100px;
  color: #07a094;
  padding-bottom: 10%;
}
.intro-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.intro h1{
  font-size: 33px;
  font-weight: 700;
}
.intro p{
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
}

.projects-txt{
  background: url(./background-icon-2.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right;
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  color: #07a094;
  margin-bottom: 5%;
}
.projects-txt h1{
  font-size: 50px;
  padding: 5%;
}
.projects-txt p{
  font-size: 16px;
  margin: 10px 0 40px;
  margin-top: 4%;
  letter-spacing: 2px;
  line-height: 25px;
}

.content{
  display: flex;
  padding-bottom: 3%;
}
.img-section{
  flex: 1;
}
.text-section{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;
}
.img-section img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.info-section{
  color: rgb(7, 160,148);
  padding-left: 5%;
}
.info-section h1 {
  font-size: 38px;
  font-weight: 700;
}
.info-section p{
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 2%;
  margin: auto;

}
.link-section a{
  position: absolute;
  right: 5%;
}